button {
  display: inline-block;
  padding: 12px 12px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6c2eb9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3c1b66;
}

.button:active {
  background-color: #443963;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonR {
  display: inline-block;
  padding: 12px 22px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #b92e2e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonR:hover {
  background-color: #932323;
}

.buttonR:active {
  background-color: #633939;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonV {
  display: inline-block;
  padding: 12px 22px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2eb951;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonV:hover {
  background-color: #239344;
}

.buttonV:active {
  background-color: #396344;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
